In [83]:
import pandas as pd

In [84]:
df = pd.read_json("hotels.com_Tunisia.json", orient='columns')

In [85]:
df.head()

,city,country,host,id,price,review,stars,timestamp,titre
0,Ain Draham,Tunisia,hotels.com,253664,€926,8.2,NaN,2018-06-21 09:37:21.215060,El Mouradi Hammam Bourguiba
1,Bizerte,Tunisia,hotels.com,697745,€840,5.2,NaN,2018-06-21 09:37:21.215060,Hotel Corniche Palace
2,Zarzis,Tunisia,hotels.com,234483,"€2,360",8.0,4.0,2018-06-21 09:37:21.215060,Eden Star
3,Zarzis,Tunisia,hotels.com,645095872,"€1,232",NaN,4.0,2018-06-21 09:37:21.215060,Zephir Hotel & Spa
4,Zarzis,Tunisia,hotels.com,557362,€630,9.0,NaN,2018-06-21 09:37:21.215060,Hôtel Résidence Bellevue Zarzis

In [86]:
len(df)

256

In [87]:
df.drop_duplicates(subset=['id'], keep='last',inplace=True)

In [88]:
len(df)

188

In [89]:
def clean_price(x):
    if x is not None:
        s =''
        for i in x:
            if i.isdigit():
                s+=i
    return float(s)
df['price'] = df['price'].apply(lambda x: clean_price(x))

In [90]:
df.head()

,city,country,host,id,price,review,stars,timestamp,titre
1,Bizerte,Tunisia,hotels.com,697745,840.0,5.2,NaN,2018-06-21 09:37:21.215060,Hotel Corniche Palace
2,Zarzis,Tunisia,hotels.com,234483,2360.0,8.0,4.0,2018-06-21 09:37:21.215060,Eden Star
3,Zarzis,Tunisia,hotels.com,645095872,1232.0,NaN,4.0,2018-06-21 09:37:21.215060,Zephir Hotel & Spa
4,Zarzis,Tunisia,hotels.com,557362,630.0,9.0,NaN,2018-06-21 09:37:21.215060,Hôtel Résidence Bellevue Zarzis
5,Zarzis,Tunisia,hotels.com,236927,806.0,2.0,NaN,2018-06-21 09:37:21.215060,Hotel Giktis

In [91]:
df.dropna(subset=['titre'], inplace=True)

In [92]:
len(df)

188

In [93]:
df['review'] = pd.to_numeric(df['review'], errors='coerce')
df['stars'] = pd.to_numeric(df['stars'], errors='coerce')
df['id'] = pd.to_numeric(df['id'], errors='coerce')
#df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y%m%d', errors='coerce')

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 1 to 255
Data columns (total 9 columns):
city         188 non-null object
country      188 non-null object
host         188 non-null object
id           188 non-null int64
price        188 non-null float64
review       173 non-null float64
stars        110 non-null float64
timestamp    188 non-null datetime64[ns]
titre        188 non-null object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 14.7+ KB

In [95]:
df_tn = pd.read_json("booking.com_Tunisia.json", orient='columns')
df_tn.head(20)

,city,country,host,id,price,review,timestamp,titre
0,\n Yasmine Hammamet\n,Tunisia,booking.com,42107,\n€ 672\n,NaN,2018-06-21 15:08:49.702486,\nHôtel Résidence La Paix\n
1,\n Tunis\n,Tunisia,booking.com,1006936,\n€ 980\n,8.0,2018-06-21 15:08:49.702486,\nSofie Appart hotel\n
2,\n Bizerte\n,Tunisia,booking.com,3489680,None,NaN,2018-06-21 15:08:49.702486,\nNabian House\n
3,\n Sousse\n,Tunisia,booking.com,42102,"\n€ 2,240\n",8.0,2018-06-21 15:08:49.702486,\nSousse Palace hôtel & spa\n
4,\n Ousseltia\n,Tunisia,booking.com,1630091,\n€ 714\n,NaN,2018-06-21 15:08:49.702486,\nDar El Henchir\n
5,"\n Les Berges du Lac, Berges Du Lac\n",Tunisia,booking.com,2162132,\n€ 840\n,8.3,2018-06-21 15:08:49.702486,\nOmega Lac Tunis\n
6,\n Tozeur\n,Tunisia,booking.com,264738,"\n€ 1,596\n",9.2,2018-06-21 15:08:49.702486,\nDar Saida Beya\n
7,"\n Les Berges du Lac, Berges Du Lac\n",Tunisia,booking.com,2452410,\n€ 840\n,8.6,2018-06-21 15:08:49.702486,\nOMAR Apartments\n
8,\n Gammarth\n,Tunisia,booking.com,179422,"\n€ 3,472\n",8.6,2018-06-21 15:08:49.702486,\nThe Residence Tunis\n
9,\n Carthage\n,Tunisia,booking.com,1532392,None,8.6,2018-06-21 15:08:49.702486,\nDar El Maa\n
10,\n Kairouan\n,Tunisia,booking.com,1929496,\n€ 714\n,8.1,2018-06-21 15:08:49.702486,\nHotel Continental\n
11,\n La Soukra\n,Tunisia,booking.com,3282252,\n€ 630\n,NaN,2018-06-21 15:08:49.702486,\nLa Reine\n
12,\n Nefza\n,Tunisia,booking.com,1239351,\n€ 588\n,7.5,2018-06-21 15:08:49.702486,\nHotel Alrawabi\n
13,"\n Les Berges du Lac, Berges Du Lac\n",Tunisia,booking.com,2645485,\n€ 844\n,9.3,2018-06-21 15:08:49.702486,\nResidence Berges Du Lac 2\n
14,\n Ariana\n,Tunisia,booking.com,3365206,\n€ 840\n,NaN,2018-06-21 15:08:49.702486,\nOriental Executive Apartment\n
15,"\n Tunis Centre , Tunis\n",Tunisia,booking.com,255777,\n€ 896\n,8.0,2018-06-21 15:08:49.702486,\nHotel Carlton\n
16,\n Yasmine Hammamet\n,Tunisia,booking.com,42058,"\n€ 1,050\n",5.7,2018-06-21 15:08:49.702486,\nHotel La Couronne\n
17,\n Ariana\n,Tunisia,booking.com,1894937,"\n€ 1,232\n",8.9,2018-06-21 15:08:49.702486,\nRyma Appart\n
18,\n Yasmine Hammamet\n,Tunisia,booking.com,42032,"\n€ 1,924\n",8.3,2018-06-21 15:08:49.702486,\nSentido Le Sultan\n
19,\n Carthage\n,Tunisia,booking.com,1532392,None,8.6,2018-06-21 15:08:49.702486,\nDar El Maa\n