In [20]:
import pandas as pd

In [21]:
hotelscom = pd.read_csv("clean_hotelscom.csv")
besthotel = pd.read_csv("clean_besthoteloffersnet.csv")
bookingcom = pd.read_csv("clean_bookingcom.csv")
result = pd.concat([hotelscom,besthotel,bookingcom])
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3736 entries, 0 to 1397
Data columns (total 9 columns):
city         3736 non-null object
country      3736 non-null object
host         3736 non-null object
id           3736 non-null int64
price        3736 non-null float64
review       3360 non-null float64
stars        3736 non-null int64
timestamp    3736 non-null object
titre        3736 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 291.9+ KB

In [22]:
result.head()

,city,country,host,id,price,review,stars,timestamp,titre
0,oud metha,united arab emirates,hotels.com,199445,883.0,8.6,5,2018-06-24 18:38:14.556195,movenpick hotel & apartments bur dubai
1,culture village,united arab emirates,hotels.com,490216,2452.0,9.4,5,2018-06-24 18:38:14.556195,palazzo versace dubai
2,culture village,united arab emirates,hotels.com,598970752,594.0,7.2,4,2018-06-24 18:38:14.556195,goldstate hotel
3,culture village,united arab emirates,hotels.com,474731,501.0,6.6,4,2018-06-24 18:38:14.556195,reflections hotel dubai
4,culture village,united arab emirates,hotels.com,700354112,784.0,NaN,4,2018-06-24 18:38:14.556195,"form hotel dubai, a member of design hotels"

In [23]:
result['country'].unique()

array(['united arab emirates', 'algeria', 'morocco', 'jordan', 'tunisia',
       'lebanon'], dtype=object)

In [ ]:
result[result.stars==3 and result.price==3]