In [83]:
import pandas as pd

In [84]:
df_tn = pd.read_json("hotels.com_Tunisia.json", orient='columns')

In [85]:
df.head()

,city,country,host,id,price,review,stars,timestamp,titre
0,Ain Draham,Tunisia,hotels.com,253664,€926,8.2,NaN,2018-06-21 09:37:21.215060,El Mouradi Hammam Bourguiba
1,Bizerte,Tunisia,hotels.com,697745,€840,5.2,NaN,2018-06-21 09:37:21.215060,Hotel Corniche Palace
2,Zarzis,Tunisia,hotels.com,234483,"€2,360",8.0,4.0,2018-06-21 09:37:21.215060,Eden Star
3,Zarzis,Tunisia,hotels.com,645095872,"€1,232",NaN,4.0,2018-06-21 09:37:21.215060,Zephir Hotel & Spa
4,Zarzis,Tunisia,hotels.com,557362,€630,9.0,NaN,2018-06-21 09:37:21.215060,Hôtel Résidence Bellevue Zarzis

In [86]:
len(df)

256

In [87]:
df.drop_duplicates(subset=['id'], keep='last',inplace=True)

In [88]:
len(df)

188

In [89]:
def clean_price(x):
    if x is not None:
        s =''
        for i in x:
            if i.isdigit():
                s+=i
    return float(s)
df['price'] = df['price'].apply(lambda x: clean_price(x))

In [90]:
df.head()

,city,country,host,id,price,review,stars,timestamp,titre
1,Bizerte,Tunisia,hotels.com,697745,840.0,5.2,NaN,2018-06-21 09:37:21.215060,Hotel Corniche Palace
2,Zarzis,Tunisia,hotels.com,234483,2360.0,8.0,4.0,2018-06-21 09:37:21.215060,Eden Star
3,Zarzis,Tunisia,hotels.com,645095872,1232.0,NaN,4.0,2018-06-21 09:37:21.215060,Zephir Hotel & Spa
4,Zarzis,Tunisia,hotels.com,557362,630.0,9.0,NaN,2018-06-21 09:37:21.215060,Hôtel Résidence Bellevue Zarzis
5,Zarzis,Tunisia,hotels.com,236927,806.0,2.0,NaN,2018-06-21 09:37:21.215060,Hotel Giktis

In [91]:
df.dropna(subset=['titre'], inplace=True)

In [92]:
len(df)

188

In [93]:
df['review'] = pd.to_numeric(df['review'], errors='coerce')
df['stars'] = pd.to_numeric(df['stars'], errors='coerce')
df['id'] = pd.to_numeric(df['id'], errors='coerce')
#df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y%m%d', errors='coerce')

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 1 to 255
Data columns (total 9 columns):
city         188 non-null object
country      188 non-null object
host         188 non-null object
id           188 non-null int64
price        188 non-null float64
review       173 non-null float64
stars        110 non-null float64
timestamp    188 non-null datetime64[ns]
titre        188 non-null object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 14.7+ KB